.calculator {
   width: 200px;
   height: 286px;
   margin: auto;
   background: #454647;
   border: 1px solid rgb(129, 129, 129);
   border-radius: 8px;
   z-index: 1;
   overflow: hidden;
}

.content {
   font-family: Arial, sans-serif;
   margin: 0 auto;
   padding-left: 1px;
   padding-right: 1px;
   padding-bottom: 1px;
}

.circles {
   display: flex;
   align-items: center;
   padding: 5px;
}

.circle {
   padding: 0 4px;
}

.box {
   display: inline-block;
   align-items: center;
   width: 9px;
   height: 9px;
   padding: 1px;
   border-radius: 50%;
}

.red {
   background-color: #ff605c;
}

.yellow {
   background-color: #ffbd44;
}

.green {
   background-color: #00ca4e;
}

.output {
   border-radius: 0.375rem;
   height: 40px;
   margin-bottom: 10px;
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding-right: 10px;
}
 
.result {
   font-size: 50px;
   color: white
}
 
.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1.5px;
}
 
button {
   border: none;
   border-radius: 0.075rem;
   padding: 10px;
   background-color: #737474;
   cursor: pointer;
   font-size: 16px;
   color: white
}
 
button:hover {
   background-color: #868686;
}
 
button:active {
   background-color: #ccc;
}

.double {
   grid-column-start: 1;
   grid-column-end: span 2;
}
 
.bg-orange {
   background-color: #FD9E2A;
   color: white;
}
 
.bg-orange:hover {
   background-color: #ffae4c;
   color: white;
}

.bg-gray {
   background-color: #575859;
   color: white;
}
 
.bg-gray:hover {
   background-color: #636566;
   color: white;
}